@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

@media(max-width: 950px) {
  .logo{
    z-index: 1000;
    position: absolute;
    background-color: #6D1910;
    font-size: 40px;
    font-family: 'Arvo', serif;
    width: 40%;
    height: 300px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-radius: 60%;
    top: -100px;
  }
  .logo h1{
    position: relative;
    color: #E8C486;
    text-shadow: 3px 3px 2px #3F130B;
    top: -240px;
    z-index: 1000;
  }
  #mount{
    position: relative;
    width: 200px;
    height: 100px;
    top: 80px;
  }
  #lim{
    position: relative;
    top: -100px;
    width: 150px;
    height: 100px;
    z-index: 500;
  }
}
@media(min-width: 950px) {
  .logo{
    z-index: 1000;
    position: absolute;
    background-color: #6D1910;
    font-size: 40px;
    font-family: 'Arvo', serif;
    width: 40%;
    height: 300px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-radius: 60%;
    top: -100px;
  }
  .logo h1{
    position: relative;
    color: #E8C486;
    text-shadow: 3px 3px 2px #3F130B;
    top: -310px;
    z-index: 1000;
  }
  #mount{
    position: relative;
    width: 300px;
    height: 150px;
    top: 50px;
  }
  #lim{
    position: relative;
    width: 250px;
    height: 150px;
    top: -170px;
    z-index: 500;
  }
}
@media(min-width: 1450px) {
  .logo{
    z-index: 1000;
    position: absolute;
    background-color: #6D1910;
    font-size: 40px;
    font-family: 'Arvo', serif;
    width: 40%;
    height: 300px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    border-radius: 60%;
    top: -100px;
  }
  .logo h1{
    position: relative;
    color: #E8C486;
    text-shadow: 3px 3px 2px #3F130B;
    top: -30.
    0px;
    z-index: 1000;
  }
  #mount{
    position: relative;
    width: 400px;
    top: 50px;
  }
  #lim{
    position: relative;
    top: -170px;
    z-index: 500;
  }
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #76250F;
  font-family: 'Arvo', serif;
}
header{
  display: flex;
  background-color: #A6764D;
  height: 15vh;
  width: 100%;
  box-shadow: 0px 4px 3px #A6764D;
  justify-content: center;
}
h1{
  position: absolute;
  top: -30px;
  text-align: center;
  font-size: 70px;
}
img{
  padding: 40px;
  width: 50%;
  height: 200px;
}
footer{
  position: relative;
  width: 100%;
  height: 20vh;
}
#Rent{
  position: relative;
  bottom: 0px;
  left: 850px;
  color: black;
  padding: 10px;
  font-size: 45px;
  font-family: 'Arvo', serif;
  text-align: center;
}
#Limos{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#Contact{
  position: absolute;
  top: 10px;
  right: 10px;
}

a{
  z-index: 1000;
  position: absolute;
  width: 50px;
  height: 50px;
  font-family: 'Arvo', serif;
  color: black;
  left: 10px;
  top: 20px;
}
a img{
  width:50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}
a h3{
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}
.addUp{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 190px;
}
.addUp div{
  margin-bottom: 30px;
  font-weight: bold
}
