@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

body{
  margin: 0px;
  padding: 0px;
  background-color: #76250F;
  font-family: 'Arvo', serif;
}
header{
  display: flex;
  position: absolute;
  background-color: #A6764D;
  height: 15vh;
  width: 100%;
  box-shadow: 0px 4px 3px #A6764D;
  justify-content: center;
}
img{
  width: 50%;
}
#Limos{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/*font-family: 'Arvo', serif;*/
a{
  z-index: 1000;
  position: absolute;
  width: 50px;
  height: 50px;
  font-family: 'Arvo', serif;
  color: black;
  left: 10px;
}
a img{
  width:50px;
  height: 50px;
  padding: 0px;
  margin: 0px;
}
a h3{
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}
.logo{
  z-index: 1000;
  position: absolute;
  background-color: #6D1910;
  font-size: 40px;
  font-family: 'Arvo', serif;
  width: 40%;
  height: 300px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border-radius: 60%;
  top: -100px;
}
.logo h1{
  position: relative;
  color: #E8C486;
  text-shadow: 3px 3px 2px #3F130B;
  top: -90px;
}
#mount{
  position: relative;
  width: 300px;
  top: 100px;
}
#lim{
  position: relative;
  top: 16px;
  z-index: 500;
}
